<div class="flex flex-col md:flex-row w-full px-5 relative">
    <!-- Hamburger Menu Button -->
    <div class="md:hidden flex justify-between items-center w-full p-5">
        <button (click)="toggleMenu()" class="text-2xl">
            <i class="fas fa-bars text-Pink "></i>
        </button>
        <div>
            <img src="https://i.pinimg.com/564x/d0/cb/d1/d0cbd1380c72ddf3750c896433b2dea1.jpg" alt="Profile Picture"
                class="rounded-full w-12 h-12 object-cover" />
        </div>
    </div>

    <!-- Sidebar (Tab Navigation) -->
    <div class="md:w-[20%] xl:w-[30%] w-full gap-5 p-5 flex flex-col md:items-start items-center transition-transform transform md:translate-x-0 absolute md:relative top-0 left-0 z-40 bg-white h-screen md:h-auto"
        [ngClass]="{'translate-x-[-100%]': !isMenuOpen, 'translate-x-0': isMenuOpen}">
        <div class="bg-white shadow rounded-md p-5 w-full">
            <div class="text-center flex justify-start items-center mb-4 w-full">
                <img src="https://i.pinimg.com/564x/d0/cb/d1/d0cbd1380c72ddf3750c896433b2dea1.jpg" alt="Profile Picture"
                    class="rounded-full w-16 h-16 object-cover" />
                <div class="flex flex-col justify-start pl-4">
                    <h3 class="text-xl font-semibold mt-2">Rohit Sharma</h3>
                    <small class="text-gray-600">91 9876543212</small>
                    <p class="text-sm text-gray-600">Joined Jun 21st 24</p>
                </div>
            </div>

            <nav class="space-y-2 w-full">
                <div class="flex justify-center items-center flex-col">
                    <button (click)="selectedTab = 'profile'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'profile'}">
                        <i class="fas fa-user"></i>
                        <span>My Profile</span>
                    </button>
                    <button (click)="selectedTab = 'orders'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'orders'}">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Orders</span>
                    </button>
                    <button (click)="selectedTab = 'coupons'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'coupons'}">
                        <i class="fas fa-tag"></i>
                        <span>Coupons</span>
                    </button>
                    <button (click)="selectedTab = 'wishlist'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'wishlist'}">
                        <i class="far fa-heart"></i>
                        <span>Wishlist</span>
                    </button>
                    <button (click)="selectedTab = 'wallets'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'wallets'}">
                        <i class="fas fa-wallet"></i>
                        <span>Wallets</span>
                    </button>
                    <button (click)="selectedTab = 'loyalty'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'loyalty'}">
                        <i class="fas fa-certificate"></i>
                        <span>Loyalty Points</span>
                    </button>
                    <button (click)="selectedTab = 'referral'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'referral'}">
                        <i class="fas fa-share-alt"></i>
                        <span>Referral Code</span>
                    </button>
                    <button (click)="selectedTab = 'reservation'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'reservation'}">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Reservation</span>
                    </button>
                    <button (click)="selectedTab = 'inbox'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'inbox'}">
                        <i class="fas fa-inbox"></i>
                        <span>Inbox</span>
                    </button>
                    <button (click)="selectedTab = 'settings'; toggleMenu()"
                        class="w-full text-center p-2 flex gap-2 items-center justify-start rounded-md"
                        [ngClass]="{'bg-pink-100 text-pink-500': selectedTab === 'settings'}">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </button>
                </div>
            </nav>
        </div>
    </div>

    <!-- Content Area -->
    <div class="  w-full p-5 space-y-2">
        <div class="bg-white shadow p-5 rounded-md">
            <!-- My Profile Content -->
            <div *ngIf="selectedTab === 'profile'">
                <app-my-profile-second></app-my-profile-second>
            </div>

            <!-- Orders Content -->
            <div *ngIf="selectedTab === 'orders'">
                <app-order-summary></app-order-summary>
            </div>

            <!-- Coupons Content -->
            <div *ngIf="selectedTab === 'coupons'">
                <app-coupons></app-coupons>
            </div>

            <!-- Wishlist Content -->
            <div *ngIf="selectedTab === 'wishlist'">
                <app-wishlist></app-wishlist>
            </div>

            <!-- Wallets Content -->
            <div *ngIf="selectedTab === 'wallets'">
                <app-wallets></app-wallets>
            </div>

            <!-- Loyalty Points Content -->
            <div *ngIf="selectedTab === 'loyalty'">
                <app-loyalty-points></app-loyalty-points>
            </div>

            <!-- Referral Code Content -->
            <div *ngIf="selectedTab === 'referral'">
                <app-referral-code></app-referral-code>
            </div>

            <!-- Reservation Content -->
            <div *ngIf="selectedTab === 'reservation'">
                <app-profilereservation></app-profilereservation>
            </div>

            <!-- Inbox Content -->
            <div *ngIf="selectedTab === 'inbox'">
                <app-inbox></app-inbox>
            </div>

            <!-- Settings Content -->
            <div *ngIf="selectedTab === 'settings'">
                <app-setting></app-setting>
            </div>
        </div>

    </div>
</div>