<!-- menu cart items -->

<div class=" mx-10 mt-28 my-5 ">

    <div class="flex justify-between">
        <div class="font-bold text-2xl text-blue underline underline-offset-8">
            Our Menu
        </div>
        <!-- <div class="p-2 border-2 border-Pink rounded-lg px-10 hover:bg-Pink hover:text-white">
            View All
        </div> -->
    </div>

</div>
<div class="w-full relative">
    <div class="swiper multiple-slide-carousel swiper-container relative">
        <div class="swiper-wrapper mb-16 py-5">
            <div class="swiper-slide" *ngFor="let tile of tiles">
                <div class=" rounded-2xl flex-col flex justify-center items-center py-5">

                    <div data-aos="flip-up" data-aos-duration="1500"
                        class="card-container hover:shadow-xl bg-gray-100 hover:bg-LightPink hover:text-Pink hover:border-2 border-2 hover:border-Pink rounded-full flex justify-center items-center flex-col p-5">

                        <a href="#">
                            <!-- Set image to a circular shape -->
                            <img src="{{ tile.img }}" class="md:w-24 md:h-24 w-24 h-24 rounded-full object-cover" />
                        </a>

                        <!-- Move text below the image -->


                    </div>
                    <div class="mt-3 text-center">
                        <p class="mb-3 font-bold text-md dark:text-gray-400">{{ tile.name }}</p>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<app-non-veg></app-non-veg>
<!-- menu cart items -->