<div class="p-6">
    <!-- Header -->
    <h3 class="text-lg font-bold">Wallets</h3>
    <div class="flex justify-start items-center mb-4">
        <div class="border-b-2 border-Pink w-20"></div>
        <i class="fa-solid fa-circle text-Pink text-[10px] ml-1"></i>
    </div>
    <!-- Total Points and Instructions -->
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
        <div class=" col-span-2 bg-LightPink  p-2 rounded-lg">
            <div class="flex items-center justify-between flex-wrap  relative">
                <div class="bg-LightPink p-4 rounded-lg">
                    <img src="assets/image 279.png" alt="Star Icon" class="w-10 h-10 object-cover">

                    <div class="text-xl font-bold">
                        Total Balance
                    </div>
                </div>
                <h4
                    class="text-3xl font-bold absolute -top-8 border-Pink border-2 -right-5 bg-LightPink rounded-full h-32 w-32 text-center shadow-2xl items-center flex justify-center">
                    {{ totalPoints }}
                </h4>
            </div>
            <div class=" flex justify-between items-center flex-wrap px-5 py-2">



                <i class="fa-solid fa-circle-info"></i>
                <p class="text-lg  font-semibold bg-Pink text-white rounded-md p-1 px-3 ">Add Fund </p>
            </div>

        </div>
        <div
            class="bg-Gray col-span-3  p-4 rounded-2xl border-l-8 border-Pink flex justify-between items-center md:flex-row flex-col">
            <div>
                <h4 class="text-xl font-bold text-Pink">Add 100 get 10% Extras</h4>
                <h4 class="text-base font-bold text-Pink">Valid Till Jul 9, 2026 </h4>
                <h4 class="text-base font-bold">You have to add min 100 Fund to get max of 200 </h4>
            </div>
            <div class="">
                <img src="assets/image 281.png" alt="" class="md:h-40 md:w-40 h-full w-full">
            </div>
        </div>
    </div>

    <!-- Points History -->
    <div class="flex justify-between items-center flex-wrap px-5 py-5">


        <h4 class="text-lg font-bold mt-6">Wallet History</h4>
        <div class="relative inline-block text-left" (clickOutside)="closeDropdown()">
            <div>
                <button type="button"
                    class="inline-flex justify-center w-full px-4 py-2 bg-pink-500 text-white font-bold rounded-md hover:bg-pink-600 transition duration-150 ease-in-out"
                    (click)="toggleDropdown()">
                    Select Option
                    <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
            </div>

            <div *ngIf="isOpen"
                class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition-all duration-300 ease-out"
                [ngClass]="{
                'scale-100 opacity-100': isOpen,
                'scale-95 opacity-0': !isOpen
              }">
                <div class="py-1" role="menu" aria-orientation="vertical">
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-100" role="menuitem">All
                        Transactions</a>
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-100" role="menuitem">Completed</a>
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-100" role="menuitem">Pending</a>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="pointsHistory.length === 0" class="text-center">
        <img src="https://static.thenounproject.com/png/4143644-200.png" alt="No Data Found" class="w-16 h-16 mx-auto">
        <p class="text-gray-500 mt-1">No Data Found</p>
    </div>
    <!-- Add more content for points history when available -->
</div>