<div class="bg-white p-6 rounded-lg shado">
    <div class="flex justify-between items-center mb-4">


        <div>
            <h3 class="text-lg font-bold">Orders</h3>
            <div class="flex justify-center items-center">

                <div class="border-b-2 border-Pink w-16">

                </div>
                <i class="fa-solid fa-circle text-Pink text-[10px]"></i>
            </div>
        </div>
        <div>
            <span class="bg-blue-200 text-blue-700 py-1 px-3 rounded-lg text-sm">Pending</span>
            <span class="bg-green-200 text-green-700 py-1 px-3 rounded-lg text-sm ml-2">Home Delivery</span>
        </div>
    </div>
    <div class="flex justify-between items-center mb-4">
        <div>
            <p class="text-sm text-gray-500">Order# 10098</p>
            <p class="text-sm text-gray-500">Order date : Aug 12, 2024 02:46 pm</p>
        </div>
        <div>
            <button class="bg-pink-500 text-white py-2 px-4 rounded-lg text-sm">Track Order</button>
            <button class="bg-red-500 text-white py-2 px-4 rounded-lg text-sm ml-2">Cancel Order</button>
        </div>
    </div>
    <div class="border-b border-gray-200 mb-4"></div>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-5 mb-4">
        <div class="col-span-2">
            <div class="flex mb-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTISptptNMXJPRUo9UG0OwXm6XSY4bFjrHaiQ&s"
                    alt="Cake" class="rounded-lg w-16 h-16">
                <div class="ml-4">
                    <h3 class="text-lg font-semibold">Cake</h3>
                    <p class="text-sm text-gray-500">Variation: Size(Small)</p>
                    <p class="text-sm text-gray-500">Unit Price: $90.00</p>
                    <p class="text-lg font-semibold">$460.00</p>
                    <p class="text-sm text-gray-500">Qty: 2</p>
                </div>
            </div>
            <div>
                <h3 class="text-lg font-semibold">Restaurants Information</h3>
                <div class="flex items-center mt-2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmjuL2lA07AURQakeDffVqFQyLEyu_GKShdg&s"
                        alt="Cafe Monarch" class="rounded-lg w-12 h-12">
                    <div class="ml-4">
                        <h4 class="text-md font-semibold">Café Monarch</h4>
                        <p class="text-sm text-gray-500">Address: Ghatkopar - Manikhurd Link Road, Indian Oil Nagar,
                            Mumbai
                        </p>
                        <div class="flex items-center mt-1">
                            <span class="bg-yellow-400 text-white py-1 px-2 rounded-lg text-sm">5.0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="font-bold">
                <h3 class="text-lg font-semibold">Payment Information</h3>
                <div class="flex justify-between px-10 py-5">
                    <p class="text-sm text-gray-500">Method: Cash on delivery</p>
                    <p class=" font-semibold text-sm">Payment Status: <span class="text-red-500">Unpaid</span> </p>
                </div>
            </div>
        </div>

        <div class="flex ">
            <div class="w-full bg-pink-50 border-Pink border-2 p-4 rounded-2xl">
                <h3 class="text-lg font-semibold text-pink-500">Summary</h3>
                <div class="flex justify-between mt-4">
                    <p class="text-sm text-gray-500">Items Price</p>
                    <p class="text-sm text-gray-500">$460.00</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">Addons Price</p>
                    <p class="text-sm text-gray-500">$0.00</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">Discount</p>
                    <p class="text-sm text-gray-500">(-)$13.80</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">Coupon Discount</p>
                    <p class="text-sm text-gray-500">(-)$0.00</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">VAT/TAX(10%)</p>
                    <p class="text-sm text-gray-500">$44.62</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">Service Charge</p>
                    <p class="text-sm text-gray-500">$10.00</p>
                </div>
                <div class="flex justify-between mt-2">
                    <p class="text-sm text-gray-500">Delivery fee</p>
                    <p class="text-sm text-gray-500">$0.00</p>
                </div>
                <div class="border-b-4 border-Pink border-dashed  my-4"></div>
                <div class="flex justify-between">
                    <h4 class="text-lg font-semibold">Total</h4>
                    <h4 class="text-lg font-semibold">$500.82</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="border-b border-gray-200 mb-4"></div>

</div>