<div class="">
    <nav class="relative px-4 py-4 flex justify-between items-center shadow-2xl  bg-white">
        <div class="flex justify-center items-center gap-5 ">


            <a class="text-3xl font-bold leading-none" href="/">
                <img src="../../assets//logo.png" alt="image" class="object-contain w-20">
            </a>
            <div>
                |
            </div>
            <div
                class=" flex flex-col rounded-xl bg-white shadow-xl p-2 px-5 focus:outline-none  border-l-4 border-l-Pink   ">
                Branch
                <select class="font-bold  bg-transparent">
                    <option value="Indore">Indore</option>
                    <option value="Indore 2">Indore 2</option>
                </select>

            </div>
        </div>
        <div class="xl:hidden">
            <button class="navbar-burger flex items-center text-Pink p-3">
                <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <ul
            class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
            <li><a class="text-sm  hover:underline font-bold fill-Pink" href="/">Home</a></li>

            <li><a class="text-sm  font-bold" href="reservation">Reservation</a></li>

            <li><a class="text-sm  font-bold" href="menu">Menu</a></li>

            <li><a class="text-sm  font-bold " href="Offers">Offers</a></li>

            <li>
                <!-- search button start -->

                <form>
                    <div class="flex">
                        <label for="location-search"
                            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>

                        <div class="relative w-full">
                            <input type="search" id="location-search" class="block p-2.5 w-full z-20 text-sm text-gray-900
                             bg-gray-50 rounded-lg
                                  border-2  border-gray-300 focus:ring-Pink focus:outline-none focus:border-Pink
                                  dark:bg-gray-700    dark:placeholder-gray-400
                                   dark:text-white dark:focus:border-Pink" placeholder="Search " required>
                            <button type="submit" class="absolute top-0 right-0 h-full p-2.5 text-sm font-medium text-white bg-Pink rounded-r-lg border border-Pink hover:bg-Pink focus:ring-4 focus:outline-none
                                 focus:ring-pink-200 dark:bg-Pink dark:hover:bg-Pink dark:focus:ring-Pink">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- search button end   -->

            </li>
        </ul>
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6  text-sm text-gray-900 font-bold  rounded-xl transition duration-200"
            href="#">
            <div
                class=" flex flex-col rounded-xl bg-white shadow-xl p-3 px-5 focus:outline-none  border-2 border-Pink   ">

                <select class="font-bold  bg-transparent focus:outline-none">

                    <option value="Indore">Hindi</option>
                    <option value="Indore">English</option>
                    <option value="polish">Polish</option>
                    <option value="Romania">Romania</option>
                </select>

            </div>
        </a>
        <div>
            <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-2  text-sm text-gray-900 flex flex-col rounded-xl bg-white shadow-xl p-3 focus:outline-none  border-2 border-Pink  font-bold  transition duration-200"
                href="#">
                <img src="../../assets/Home/Vector.png" alt="" class="w-6 h-6 object-cover">

            </a>
        </div>
        <a class="hidden  lg:inline-block py-2 px-6 bg-Pink hover:Pink text-sm text-white font-bold rounded-xl transition duration-200"
            href="login">
            <span class="flex justify-center items-center gap-2">
                <span> <img src="../../assets/Home/profil.png" alt="" class="w-6 h-6 object-cover"></span>


                <span>Sign up</span>

            </span>
        </a>
    </nav>
    <div class="navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
        <nav
            class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
                <a class="mr-auto text-3xl font-bold leading-none" href="/">
                    <img src="../../assets/logo.png" alt="image" class="object-contain w-20">
                </a>
                <button class="navbar-close">
                    <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <div>
                <ul>
                    <li class="mb-1">
                        <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-Pink rounded"
                            href="/">Home</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-Pink rounded"
                            href="reservation">Reservation</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-Pink rounded"
                            href="menu">Menu</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-Pink rounded"
                            href="offer">Offer</a>
                    </li>

                </ul>
            </div>
            <div class="mt-auto">
                <div class="pt-6">
                    <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
                        href="#">Sign in</a>
                    <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center
                     text-white font-semibold bg-Pink hover:bg-Pink  rounded-xl" href="#">Sign Up</a>
                </div>
                <p class="my-4 text-xs text-center text-gray-400">
                    <span>Copyright © 2023</span>
                </p>
            </div>
        </nav>
    </div>
</div>