.nav_item:hover.nav_item::after {
    content: '';
    background: #FF3389;
    width: 3rem;
    height: 3px;
    position: absolute;
    left: -3px;
    bottom: 1px;
    border-radius: 5px;
}

.nav_item:hover.nav_item.reservation::after {
    content: '';
    background: #FF3389;
    width: 5.5rem;
    height: 3px;
    position: absolute;
    left: -3px;
    bottom: 1px;
}

.nav_item:hover.nav_item::before {
    content: '';
    background: #2E108E;
    width: 1rem;
    height: 3px;
    position: absolute;
    left: -3px;
    bottom: 1px;
    border-radius: 5px;
    z-index: 10;
}



.navbar-two{
    display: flex;
    justify-content: end;
}