<div class="p-6">
    <h3 class="text-lg font-bold">Wishlist</h3>
    <div class="flex items-center mb-6">
        <div class="border-b-2 border-pink-500 w-16"></div>
        <i class="fa-solid fa-circle text-pink-500 text-[10px]"></i>
    </div>

    <div class="p-1 grid md:grid-cols-3 grid-cols-1 gap-5">
        <div *ngFor="let item of wishlistItems"
            class="max-w-sm rounded overflow-hidden shadow-lg bg-white transform hover:scale-105 transition duration-300 ease-in-out hover:shadow-2xl group">

            <div class="relative">
                <img class="w-full transition transform hover:scale-110 duration-300 ease-in-out" src="{{ item.image }}"
                    alt="{{ item.name }}" />
                <div class="absolute top-2 right-1.5 flex justify-center items-center p-2 w-10 h-10 rounded-full bg-white shadow-lg">
                    <i class="fa-solid fa-heart text-pink-500 text-lg "></i>
                </div>
            </div>

            <div class="px-6 py-4">
                <div class="flex justify-between">
                    <div>
                        <div class="font-bold text-xl mb-2 group-hover:text-pink-500 transition duration-300">{{
                            item.name }}</div>
                        <div class="flex items-center">
                            <div class="text-pink-500 text-lg font-semibold">{{ item.price }}</div>
                            <div class="text-gray-500 line-through ml-2">{{ item.originalPrice }}</div>
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center">
                            <i class="fa-solid fa-circle-check text-green-500 text-sm mr-1"></i>
                            <span class="text-sm text-gray-600">Collection is public</span>
                        </div>
                        <div class="flex items-center space-x-2 justify-end mt-2">
                            <!-- Add to cart button with hover effect -->
                            <button
                                class="bg-pink-100 w-10 h-10 p-2 rounded-full hover:bg-pink-500 transition duration-300 ease-in-out">
                                <i class="fas fa-shopping-cart text-pink-500 hover:text-white"></i>
                            </button>
                            <!-- Trash button with hover effect -->
                            <button
                                class="bg-pink-100 p-2 w-10 h-10 rounded-full hover:bg-pink-500 transition duration-300 ease-in-out">
                                <i class="fas fa-trash text-pink-500 hover:text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>