<div class="p-6">
    <h3 class="text-lg font-bold">My Coupons</h3>
    <div class="flex  items-center mb-6">
        <div class="border-b-2 border-Pink w-16"></div>
        <i class="fa-solid fa-circle text-Pink text-[10px]"></i>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div *ngFor="let coupon of coupons"
            class="bg-white p-4 rounded-lg shadow-md flex items-center flex-wrap  justify-between">
            <div class="flex items-center flex-wrap gap-4">
                <div class=" border-r-2 border-dashed border-Pink px-10 ">
                    <div class="bg-LightPink p-4 rounded-lg text-center">
                        <i class="fa-solid fa-percent text-4xl text-blue"></i>
                    </div>
                    <h4 class="text-lg font-bold">{{ coupon.discount }}</h4>
                </div>

                <div>

                    <p class="text-sm">{{ coupon.dateRange }}</p>
                    <p class="text-sm text-gray-500">*min purchase {{ coupon.minPurchase }}</p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-4 h-4 bg-gray-200 rounded-full border border-gray-400"></div>
            </div>
        </div>
    </div>
</div>