<div class="">
    <div class="bg-Reservation text-white lg:h-[30rem] h-full w-full bg-cover bg-center flex justify-center items-center">
        <div class="flex justify-center  items-center lg:h-96 h-full flex-col">
            <h1 class=" text-6xl font-bold">
                Reservation
            </h1>
            <div class=" text-xl text-center font-bold lg:px-96 my-10   md:px-2 px-5  ">
                FindFood is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon's Exmouth
                Market.
                With glazed frontage on two sides of the building, overlooking the market and a bustling London inteon.
            </div>

        </div>

    </div>

    <div class=" mx-5 my-10 flex lg:justify-around gap-10 items-center lg:flex-row flex-col justify-center ">
        <div class="p-5  rounded-lg flex flex-col justify-center items-center md:w-1/2">
            <h2 class="font-bold text-4xl my-2 element">Discover</h2>
            <h2 class="font-bold text-4xl my-2">OUR STORY</h2>
            <div class="text-justify">
                Rosa is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon's Exmouth
                Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London
                inteon.
            </div>
            <button
                class=" my-5 bg-transparent hover:bg-Pink text-blue font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded">
                Read More
            </button>
        </div>
        <div class="p-5  rounded-lg md:my-32 md:mt-16 mt-60 ">

            <div
                class="text-justify bg-Pink flex justify-center h-32 items-center lg:flex-row flex-col md:relative md:mb-0 mb-80">
                <div class="flex md:flex-row flex-col">


                    <img src="assets/Reservation/img1.png" alt="" class="lg:w-80 lg:h-80 w-96 object-contain ">
                    <img src="assets/Reservation/imge2.png" alt="" class="lg:w-80 lg:h-80 w-96 object-contain ">
                </div>
            </div>
        </div>


    </div>
    <!-- last section  -->

    <div class="bg-gray-200 py-5">
        <div class=" flex flex-col justify-center items-center mx-5">
            <div class="element text-4xl">
                Reservation
            </div>
            <div class="text-2xl font-bold  my-5">
                BOOK YOUR TABLE
            </div>
            <div class="text-xl text-justify">
                Integer vitae enim vel nisi feugiat ultricies. Phasellus hendrerit pharetra posuere. <br> In hac
                habitasse
                platea dictumst. Integer diam nulla,
            </div>

        </div>

        <div class="bg-white p-5 flex justify-center lg:gap-20 gap-10 items-center lg:flex-row flex-col m-5">

            <select name="Person " id=""
                class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ">
                <option value="Total Person ">Total Person </option>
                <option value="one">one</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
                <option value="Four">Four</option>
                <option value="Five">Five</option>
            </select>
            <input type="date"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <input type="time"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ">
            <button
                class="bg-blue hover:bg-blue text-white font-bold py-2 px-4 border border-blue rounded shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                CHECK AVAILABILITY
            </button>
        </div>

    </div>
</div>