<div>

    <!-- slider  -->
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                checked="checked">
            <div class="carousel-item">
                <img src="assets/Slider/slider1.png">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="assets/Slider/7682746.png">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="assets/Slider/3724697.png">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1 ">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>
    <!-- slider  -->



    <!-- menu cart items -->

    <div class=" mx-10 my-10 ">

        <div class="flex justify-between">
            <div class="font-bold text-2xl text-blue">
                Our Menu
            </div>
            <div class="p-2 border-2 border-Pink rounded-lg px-10">
                View All
            </div>
        </div>

    </div>
    <div class="flex justify-around flex-wrap gap-5 mx-5">
        <div *ngFor="let tile of tiles">
            <div
                class="shadow-2xl bg-gray-100 hover:bg-LightPink hover:text-Pink hover:border-2 hover:border-Pink border-0 rounded-lg flex justify-center items-center flex-col p-5">
                <a href="#">
                    <img src="{{ tile.img }}" class="w-40 h-40 object-contain" />
                </a>
                <div>

                    <p class="mb-3  font-bold text-md dark:text-gray-400">{{ tile.name }}</p>


                </div>
            </div>

        </div>
    </div>
    <!-- menu cart items -->

    <!-- Product cart items -->
    <div>

    </div>
    <div class=" mx-10 my-10 ">

        <div class="flex my-10 ">
            <div class="font-bold text-2xl text-blue">
                Featured Items
            </div>

        </div>


        <div class="flex justify-around flex-wrap gap-5 mx-5">
            <div *ngFor="let pro of Product">
                <div
                    class="  max-w-xs bg-gray-100 hover:border-Pink hover:border-2 hover:bg-LightPink hover:text-Pink    rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg  " src="{{ pro.img }}" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl  tracking-tight text-Pink font-bold dark:text-white">
                                {{pro.sortname}}</h5>
                        </a>
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                                {{pro.name}}</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$ {{pro.Price}}</span>
                            <a href="#"
                                class="text-white bg-blue hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue dark:focus:ring-blue">Add
                                to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product cart items -->
    <!-- poster items -->

    <app-offer></app-offer>

    <!-- poster items -->
    <!-- Most Popular Items  -->
    <div class=" mx-10 my-10 ">

        <div class="flex my-10 ">
            <div class="font-bold text-2xl text-blue">
                Most Popular Items
            </div>

        </div>

        <div class="flex justify-around flex-wrap gap-5 mx-5">
            <div *ngFor="let pro of PopularPro">

                <a href="#"
                    class="flex flex-col items-center hover:border-Pink hover:border-2 hover:bg-LightPink hover:text-Pink  bg-gray-100 border  rounded-lg shadow md:flex-row md:max-w-xl  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                        src="{{pro.img}}" alt="">
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl  tracking-tight text-Pink font-bold dark:text-white">
                                {{pro.sortname}}</h5>
                        </a>
                        <a href="#" class="">
                            <h5 class="text-xl my-5 font-semibold tracking-tight text-gray-900 dark:text-white">
                                {{pro.name}}</h5>
                        </a>

                        <div class="flex items-center justify-between  ">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$ {{pro.Price}}</span>
                            <a href="#"
                                class="text-white bg-blue hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue dark:focus:ring-blue">Add
                                to cart</a>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
    <!-- Most Popular Items -->

</div>
<br>